[submodule "Magma/Magma/vendor/spdlog"]
	path = Magma/Magma/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Magma/vendor/GLFW"]
	path = Magma/vendor/GLFW
	url = https://github.com/TheCherno/glfw
